################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/1 - PROJETO/.vs/SosDentes/v15/Server/sqlite3
